<aside class="sidebar">
    <div class="profile">
        <h2 style="margin-left: -25px; margin-top: 10px">Youn-Gyu Park</h2>
        <p style="height: 50px"></p>
        <p style="margin-left: -30px">
            <br>
            Ph.D. Student<br>
            Department of Linguistics<br>
            The University of Texas at Austin<br><br>
        </p>
    </div>
    <div>
        <hr class="content_horizontal_bar"; style="margin-top: 15px"><br>
        <div style="text-align: left; margin-left: -30px;">
        <p>
            <b style="font-size: 120%">Contacts</b><br>
        </p>
        <p style="text-align: left; margin-top: -1.5ex;">
            University of Texas at Austin Department of Linguistics<br>
            305 E. 23rd Street STOP B5100<br>
            Austin, TX 78712<br><br><br>
            
            <a class = "contact" style="text-decoration-line: none"
            href = "mailto:youngyu.park@utexas.edu">
            <b>e-mail</b></a><br>
            <a class = "contact"; href = "https://scholar.google.com/citations?user=v4CmqmoAAAAJ&hl=en";
            target="_blank" rel="noopener noreferrer"; style="text-decoration-line: none; font-size: 11pt">
            <b>Google Scholar</b></a><br>
        </p>
        </div>
    </div>
</aside>