$primary-color: #333f48;
$sidebar-width: 275px;

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: $sidebar-width;
    background-color: #bf5700;
    color: white;
    padding: 30px;
    padding-top: 50px;
    position: fixed;
    height: 100%;
}

.sidebar .profile h2 {
    margin-top: 0;
}

.main-content {
    margin-left: $sidebar-width+50px;
    padding: 20px;
    padding-bottom: 25ex;
    flex: 1;
    background-color: #e9e6df;
    min-height: 100vh;
}

header {
    background-color: white;
    margin: 10px 25px 75px 25px;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 45px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
}

.content {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 5ex;
    width: 950px;
}

p {
    word-break: keep-all;
    text-align: justify;
    line-height: 175%;
    padding-left: 5ex
}

h2 {
    font-size: 17pt;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 2ex;
    display: fixed;
    align-items: left;
}

a.contact{
    color: #d6d2c4;
}